:root {
    /* General Waterproof Editor styling */
    --wp-editor-font-family: var(--vscode-editor-font-family);
    --wp-editor-font-size: var(--vscode-editor-font-size);
    --wp-editor-font-weight: var(--vscode-editor-font-weight);

    /* CodeMirror related styling */
    --wp-cm-foreground: var(--vscode-input-foreground);
    --wp-cm-background: var(--vscode-listFilterWidget-background);

    --wp-cm-lint-panel-foreground: var(--vscode-list-highlightForeground);
}