.context-menu {
  position: absolute;
}

.menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  background-color: var(--vscode-menu-background);
  color: var(--vscode-menu-foreground);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu>ul {
  list-style: none;
}

.menu>li>a {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: var(--vscode-menu-foreground);
  font-weight: 500;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}

.menu>li>a:hover {
  outline: 1px solid var(--vscode-menu-selectionBorder); 
  outline-offset: -1px;
  background: var(--vscode-menu-selectionBackground);
  color: var(--vscode-menu-selectionForeground);
}

/* icon */
.menu>li>a>i {
  width: 1.5em;
  font-weight: bold;
  padding-right: 10px;
  font-style: normal;
  opacity: 0.6;
}