
.frozen-thingie {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.frozen-emoji {
    font-size: 18em;
    text-align: center;
}

.frozen-message {
    text-align: center;
    font-weight: bold;
}