/* Default hint style */
.hint {
    display: none;
    outline: 2px dashed var(--vscode-minimap-findMatchHighlight);
}

/* Hint style that is applied when the hint should be shown */
.hint[shown="true"] {
    display: block;
}

.hint-title-element {
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}