.inputarea {
  display: block;
  position: relative;
  padding-left: 8px;
}
  
.inputarea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 8px; 
  background-color: var(--vscode-terminal-ansiRed); 
  /* we add a border for some high contrast themes */
  outline: 1px solid var(--vscode-button-border); 
}

.inputarea.proven::before {
  width: 8px;
  background-color: var(--vscode-terminal-ansiGreen);
}

.inputarea.proven-contains-warning::before {
  width: 8px;
  background-color: var(--vscode-terminal-ansiYellow);
}

.inputarea.incomplete::before,
.inputarea.incomplete-contains-error::before,
.inputarea.incomplete-contains-warning::before, 
.inputarea.proven-contains-error::before {
  width: 8px;
  background-color: var(--vscode-terminal-ansiRed);
}
