:root {
    --body-padding: 10px;
    --button-foreground: var(--vscode-button-foreground);
    --button-background: var(--vscode-button-background);
    --button-border: var(--vscode-button-border);
    --button-background-hover: var(--vscode-button-hoverBackground);
    --font-family: var(--vscode-font-family);
    --font-weight: var(--vscode-font-weight);
    --font-size: var(--vscode-font-size);
    --bg-color: var(--vscode-quickInput-background);
    --dropdown-background: var(--vscode-dropdown-listBackground);
    --dropdown-border: var(--vscode-dropdown-border);
}

body {
    margin: var(--body-padding);
    padding: 0;
}

.menubar {
    position: sticky;
    top: calc(1rem + var(--body-padding)); /* Adjust the top */
    width: 100%;
    background-color: var(--bg-color);
    z-index: 9000;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

@media (max-width: 680px) {
    .menubar {
        position: sticky;
        top: calc(1rem + var(--body-padding)); /* Adjust the top */
        width: 100%;
        background-color: var(--bg-color);
        z-index: 9000;
        display: flex;
        flex-flow: wrap;
        justify-content:left;
    }
}


.menubar .dropdown {
    position: relative;
    display: inline-block;
}

.menubar-item {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 1.25rem;
    line-height: 1.25rem;

    padding: 0 .5rem;
    margin-right: .25rem;
    margin: 2px 2px 2px 2px;
    width: 40px;

    min-width: 2rem;
    background-color: var(--button-background);
    color: var(--button-foreground);
    border-color: var(--button-border);
    border-radius: 4px;

    cursor: pointer;
    user-select: none;
}

.menubar-item:hover {
    background-color: var(--button-background-hover);
}

.menubar .dropdown:hover .dropdown-content {
    display: block;
}

.menubar .dropdown-content-item {
    display: block;
    margin: 0 .25rem .25rem;
}

.menubar .dropdown-content {
    display: none;
    position: absolute;
    z-index: 9001;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;

    background-color: var(--dropdown-background);
    border: 2px solid var(--dropdown-border);

    padding-top: .25rem;
}

.menubar-item svg {
    fill: var(--button-foreground);
}