.spinner-container {
    position: sticky;
    display: inline-block;
    top: 0;
    vertical-align: top;
    z-index: 9999;
}

/* Define the spinner animation */
.spinner {
  border: 0.3rem solid var(--vscode-quickInput-background);
  border-top: 0.3rem solid var(--vscode-button-background);
  border-radius: 100%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--vscode-quickInput-background);
  animation: spin 1s linear infinite;
}

/* Keyframes for the spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
