.spinner-container {
    position: fixed;
    top: 9px;
    right: 10px;
    padding: 0px;
    z-index: 9999;
}

/* Define the spinner animation */
.spinner {
  border: 4px solid var(--vscode-quickInput-background);
  border-top: 4px solid var(--vscode-button-background);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--vscode-quickInput-background);
  animation: spin 1s linear infinite;
}

/* Keyframes for the spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
